[submodule "JUCE"]
	path = JUCE
	url = https://github.com/julianstorer/JUCE.git
[submodule "additional_modules/drowaudio"]
	path = additional_modules/drowaudio
	url = https://github.com/drowaudio/drowaudio.git
